<div class="jumbotron col-10 mx-auto">
  <form [formGroup]="frmEquipos" clas="form-inline  "> 
    <div  class="form-group"> 
        <label for="EquipoNombre" class="label label-default">Nombre</label>
        <input name="EquipoNombre" type="text" formControlName="Nombre"  class="form-control col-10">
    </div>
    <div  class="form-group">
        <label for="EquipoCiudad" class="label label-default">Ciudad</label>
        <input name="EquipoCiudad" type="text"  formControlName="Ciudad" class="form-control col-10">
    </div>
    <div  class="form-group">
        <label for="EquipoSocios"  class="label label-default">Nº Socios</label>
        <input name="EquipoSocios" type="number" formControlName="Socios" class="form-control col-2">
    </div>
    <div  class="form-group">
        <label for="EquipoFundacion" class="label label-default">Fundación</label>
        <input name="EquipoFundacion" type="date" class="date"  formControlName="Fundacion" class="form-control col-2">
    </div>
    <div  class="form-group">
        <label for="Escudo" class="label label-default">Escudo</label>
        <input name="Escudo" type="text" class="text"  formControlName="Escudo" class="form-control col-10">
    </div>
    <div  class="form-group"  *ngIf="frmEquipos.value.Escudo">
      <img [src]="frmEquipos.value.Escudo" [title]="frmEquipos.get('Nombre')" [alt]="frmEquipos.get('Nombre')"  class="img-fluid img-thumbnail Max-width 100%">
    </div>
    <div  class="form-group"> 
        <button (click)="setEquipo()" class="btn-primary" [disabled]="frmEquipos.invalid">Guardar Equipo</button>   
    </div>  
  </form>
  <app-cm-list-equipos [newlstEquipo] = "lstEquipos"  (emtEquipo)="showDetail($event)" ></app-cm-list-equipos>
  <div class="card  bg-info text-white col-6 mx-auto"
    *ngIf="selEquipo">
    {{selEquipo.Escudo}}
    <img class="card-img-top" [src]="selEquipo.Escudo" [alt]="selEquipo.Nombre">
    <div class="card-body">
      <h5 class="card-title">{{selEquipo.Nombre}}</h5> 
      <div class ="row col-12">
          <div class="col-10  mx-auto">
              <label class="font-weight-bold m-1" >Ciudad:</label>
              <label class="font-weight-bold m-1" >{{selEquipo.Ciudad}}</label>
          </div>
          <div class="col-10  mx-auto">
              <label class="font-weight-bold m-1" >Socios:</label>
              <label class="font-weight-bold m-1" >{{selEquipo.Socios}}</label>
          </div>
          <div class="col-10  mx-auto">
              <label class="font-weight-bold m-1" >Fundacion:</label>
              <label class="font-weight-bold m-1" >{{selEquipo.Fundacion}}</label>
          </div>
      </div>
    </div>
  </div>
</div>
