<div class="jumbotron col-10 mx-auto">
  <form [formGroup]="frmEquipos" clas="form-inline  "> 
    <div  class="form-group"> 
        <label for="EquipoNombre" class="label label-default">Nombre</label>
        <input name="EquipoNombre" type="text" formControlName="Nombre"  class="form-control col-10">
    </div>
    <div  class="form-group">
        <label for="EquipoCiudad" class="label label-default">Ciudad</label>
        <input name="EquipoCiudad" type="text"  formControlName="Ciudad" class="form-control col-10">
    </div>
    <div  class="form-group">
        <label for="EquipoSocios"  class="label label-default">Nº Socios</label>
        <input name="EquipoSocios" type="number" formControlName="Socios" class="form-control col-2">
    </div>
    <div  class="form-group">
        <label for="EquipoFundacion" class="label label-default">Fundación</label>
        <input name="EquipoFundacion" type="date" class="date"  formControlName="Fundacion" class="form-control col-2">
    </div>
    <div  class="form-group">
        <label for="Escudo" class="label label-default">Escudo</label>
        <input name="Escudo" type="text" class="text"  formControlName="Escudo" class="form-control col-10">
    </div>
    <div  class="form-group"  *ngIf="varEquipo.Escudo">
      <img [src]="frmEquipos.get('Escudo')" [title]="frmEquipos.get('Nombre')" [alt]="frmEquipos.get('Nombre')"  class="img-fluid img-thumbnail Max-width 100%">
    </div>
    <div  class="form-group">
        <button (click)="setEquipo()" class="btn-primary">Guardar Equipo</button>   
    </div>  
  </form>
   <div *ngIf="lstEquipos.length > 0 " class="col-12 border border-primary rounded m-2"> 
      <div class="col-12 mt-2">
          
          <div class="form-group has-search">
            <span class="fa fa-search form-control-feedback"></span>
            <input type="text"  class="form-control" [(ngModel)]="filtroEquipos" placeholder="Buscar Equipo">
          </div>
      </div>
      <div class="row col-12">
          <div  class="col-9  col-xs-12">
              <div  class="row bg-primary m-2 col-11 text-light">
                  <div class="col-3 ">Nombre:</div>
                  <div class="col-3 border-left border-light">Cuidad:</div>
                  <div class="col-3 border-left border-light">Socios:</div>
                  <div class="col-3 border-left border-light">Fundacion:</div> 
                </div>
                <div *ngFor="let addEquipo of lstEquipos | teamFilter : filtroEquipos"  
                  [ngClass]="numSocios(addEquipo.Socios)"
                  class="row col-11 ml-2 mb-2"
                  (click)="showDetail(addEquipo)"
                  style="cursor:pointer"> 
                  <div class="col-3">{{addEquipo.Nombre | uppercase}}</div>
                  <div class="col-3 border-left border-primary">{{addEquipo.Ciudad}}</div>
                  <div class="col-3 border-left border-primary">{{addEquipo.Socios | number:'1.0-0':'es'}}</div>
                  <div class="col-3 border-left border-primary">{{addEquipo.Fundacion | date: 'dd/ll/yyy'}}</div>
               </div>
          </div>
          <div class="col-3 col-xs-12 row border border-secondary rounded mb-2 mt-2 " 
               *ngIf="selEquipo  && (lstEquipos | teamFilter : filtroEquipos).indexOf(selEquipo) !== -1">
              <div  class="col-12" > 
                <img [src]=selEquipo.Escudo  [title]="varEquipo.Nombre" [alt]="varEquipo.Nombre"  class="img-fluid img-thumbnail Max-width 100%">
              </div>
              <div  class="col-12"> 
                  <label>Nombre</label>
                  <label class="font-weight-bold ml-2"> {{selEquipo.Nombre}}</label>
              </div>
              <div  class="col-12"> 
                  <label>Ciudad</label>
                  <label class="font-weight-bold ml-2"> {{selEquipo.Ciudad}}</label>
              </div>
              <div class="col-12"> 
                  <label>Nº Socios</label>
                  <label class="font-weight-bold ml-2"> {{selEquipo.Socios | number:'1.0-0':'es'}}</label>
              </div>
              <div class="col-12"> 
                  <label>Fundación</label>
                  <label class="font-weight-bold ml-2"> {{selEquipo.Fundacion | date: 'dd/ll/yyy'}}</label>
              </div>
          </div>
      </div>
     
  </div> 
  <div *ngIf="lstEquipos.length === 0 " class="col-12 border border-primary rounded  m-2 ">
    No hay EquipoSocios
  </div> 
  
</div>
