.myForm{
    height: 50%;
}
.myForm > div  {
    display: inline-block;
    width: 100%;
    padding: 5px;
    text-align: left;
}
.myForm > div > label  {
    padding:  1.2em;
    width:15%;
  }
.myForm > div > input{
    border: none;
    padding: 1em;
    width:80%;
  }
.muchosSocios{
    color:red;
}