<div class="jumbotron col-6 mx-auto">
  <div> 
    <div  class="form-group">
        <label for="EquipoNombre">Nombre</label>
        <input name="EquipoNombre" type="text" [(ngModel)] = "varEquipo.Nombre"  class="form-control col-10">
    </div>
    <div  class="form-group">
        <label for="EquipoCiudad">Ciudad</label>
        <input name="EquipoCiudad" type="text" [(ngModel)] = "varEquipo.Ciudad" class="form-control col-10">
    </div>
    <div  class="form-group">
        <label for="EquipoSocios" >Nº Socios</label>
        <input name="EquipoSocios" type="number" [(ngModel)] = "varEquipo.Socios" class="form-control col-3">
    </div>
    <div  class="form-group">
        <label for="EquipoFundacion">Fundación</label>
        <input name="EquipoFundacion" type="date" class="date" [(ngModel)] = "varEquipo.Fundacion" class="form-control col-4">
    </div>
    <div>
        <button (click)="setEquipo()" class="btn-primary">Guardar Equipo</button>   
    </div>
  </div>
   <div *ngIf="lstEquipos.length > 0 "> 
      <div  class="row bg-primary">
        <div class="col-4">Nombre:</div>
        <div class="col-4">Cuidad:</div>
        <div class="col-3">Socios:</div>
        <div class="col-4">Fundacion:</div> 
      </div>
      <div *ngFor="let addEquipo of lstEquipos"
        [ngClass]="numSocios(addEquipo.Socios)"
        class="row">
        <div class="col-4">{{addEquipo.Nombre | uppercase}}</div>
        <div class="col-4">{{addEquipo.Ciudad}}</div>
        <div class="col-3">{{addEquipo.Socios | number:'1.0-0'}}</div>
        <div class="col-4">{{addEquipo.Fundacion | date: 'sort'}}</div>
     </div>
  </div> 
  <div *ngIf="lstEquipos.length === 0 ">
    No hay EquipoSocios
  </div> 
  
</div>
